.left {
  text-align: left;
}

ul.checklist {
  list-style: none;
}

ul.checklist .check:before {
  content: "\2714\0020";
  font-weight: bold;
  color: #228b22;
}

ul.checklist .uncheck:before {
  content: "–";
  font-weight: bold;
}
